# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

**Objectives:**
    
* Python
* R Language
* SQL
* Scala
* JAVA

* Python
* R Language
* SQL

Some of the commonly used libraries used by Data Scientists include:

ordered list 
+ TensorFlow
+ NumPy
+ SciPy
+ Pandas

|Data Science Tools|
|------------------|
|Tensor Flow|
|Apache Hadoop|
|NumPy|
|SciPy|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60

x=200
y=60
x/y

3.3333333333333335

## Auther
Muhammad Shurahbeel Bin Sajid