# Sentiment Analysis using ML models

##Uploading Dataset

In [2]:
import numpy as np
import pandas as pd
df=pd.read_csv("D:\MS Data Science\Tools n Techniques for Data Science\TnT Assignment\BA_AirlineReviews.csv")

##Reading and Exploring Dataset

In [3]:
df #print the dataset

,Unnamed: 0,OverallRating,ReviewHeader,Name,Datetime,VerifiedReview,ReviewBody,TypeOfTraveller,SeatType,Route,DateFlown,SeatComfort,CabinStaffService,GroundService,ValueForMoney,Recommended,Aircraft,Food&Beverages,InflightEntertainment,Wifi&Connectivity
0,0,1.0,"""Service level far worse then Ryanair""",L Keele,19th November 2023,True,4 Hours before takeoff we received a Mail stat...,Couple Leisure,Economy Class,London to Stuttgart,November 2023,1.0,1.0,1.0,1.0,no,NaN,NaN,NaN,NaN
1,1,3.0,"""do not upgrade members based on status""",Austin Jones,19th November 2023,True,I recently had a delay on British Airways from...,Business,Economy Class,Brussels to London,November 2023,2.0,3.0,1.0,2.0,no,A320,1.0,2.0,2.0
2,2,8.0,"""Flight was smooth and quick""",M A Collie,16th November 2023,False,"Boarded on time, but it took ages to get to th...",Couple Leisure,Business Class,London Heathrow to Dublin,November 2023,3.0,3.0,4.0,3.0,yes,A320,4.0,NaN,NaN
3,3,1.0,"""Absolutely hopeless airline""",Nigel Dean,16th November 2023,True,"5 days before the flight, we were advised by B...",Couple Leisure,Economy Class,London to Dublin,December 2022,3.0,3.0,1.0,1.0,no,NaN,NaN,NaN,NaN
4,4,1.0,"""Customer Service is non existent""",Gaylynne Simpson,14th November 2023,False,"We traveled to Lisbon for our dream vacation, ...",Couple Leisure,Economy Class,London to Lisbon,November 2023,1.0,1.0,1.0,1.0,no,NaN,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3696,3696,1.0,British Airways customer review,J Robertson,29th August 2012,False,This was a bmi Regional operated flight on a R...,NaN,Economy Class,NaN,NaN,3.0,1.0,NaN,3.0,no,NaN,2.0,NaN,NaN
3697,3697,9.0,British Airways customer review,Nick Berry,28th August 2012,False,LHR to HAM. Purser addresses all club passenge...,NaN,Business Class,NaN,NaN,4.0,5.0,NaN,3.0,yes,NaN,4.0,NaN,NaN
3698,3698,5.0,British Airways customer review,Avril Barclay,12th October 2011,False,My son who had worked for British Airways urge...,NaN,Economy Class,NaN,NaN,NaN,NaN,NaN,4.0,yes,NaN,NaN,NaN,NaN
3699,3699,4.0,British Airways customer review,C Volz,11th October 2011,False,London City-New York JFK via Shannon on A318 b...,NaN,Premium Economy,NaN,NaN,1.0,3.0,NaN,1.0,no,NaN,5.0,NaN,NaN
3700,3700,4.0,British Airways customer review,Russ King,9th October 2011,False,SIN-LHR BA12 B747-436 First Class. Old aircraf...,NaN,First Class,NaN,NaN,4.0,5.0,NaN,2.0,no,NaN,5.0,2.0,NaN

In [4]:
df.head() #first five rows

,Unnamed: 0,OverallRating,ReviewHeader,Name,Datetime,VerifiedReview,ReviewBody,TypeOfTraveller,SeatType,Route,DateFlown,SeatComfort,CabinStaffService,GroundService,ValueForMoney,Recommended,Aircraft,Food&Beverages,InflightEntertainment,Wifi&Connectivity
0,0,1.0,"""Service level far worse then Ryanair""",L Keele,19th November 2023,True,4 Hours before takeoff we received a Mail stat...,Couple Leisure,Economy Class,London to Stuttgart,November 2023,1.0,1.0,1.0,1.0,no,NaN,NaN,NaN,NaN
1,1,3.0,"""do not upgrade members based on status""",Austin Jones,19th November 2023,True,I recently had a delay on British Airways from...,Business,Economy Class,Brussels to London,November 2023,2.0,3.0,1.0,2.0,no,A320,1.0,2.0,2.0
2,2,8.0,"""Flight was smooth and quick""",M A Collie,16th November 2023,False,"Boarded on time, but it took ages to get to th...",Couple Leisure,Business Class,London Heathrow to Dublin,November 2023,3.0,3.0,4.0,3.0,yes,A320,4.0,NaN,NaN
3,3,1.0,"""Absolutely hopeless airline""",Nigel Dean,16th November 2023,True,"5 days before the flight, we were advised by B...",Couple Leisure,Economy Class,London to Dublin,December 2022,3.0,3.0,1.0,1.0,no,NaN,NaN,NaN,NaN
4,4,1.0,"""Customer Service is non existent""",Gaylynne Simpson,14th November 2023,False,"We traveled to Lisbon for our dream vacation, ...",Couple Leisure,Economy Class,London to Lisbon,November 2023,1.0,1.0,1.0,1.0,no,NaN,1.0,1.0,1.0

In [5]:
df.shape #dimensions

(3701, 20)

In [6]:
df.tail() #Last five rows

,Unnamed: 0,OverallRating,ReviewHeader,Name,Datetime,VerifiedReview,ReviewBody,TypeOfTraveller,SeatType,Route,DateFlown,SeatComfort,CabinStaffService,GroundService,ValueForMoney,Recommended,Aircraft,Food&Beverages,InflightEntertainment,Wifi&Connectivity
3696,3696,1.0,British Airways customer review,J Robertson,29th August 2012,False,This was a bmi Regional operated flight on a R...,NaN,Economy Class,NaN,NaN,3.0,1.0,NaN,3.0,no,NaN,2.0,NaN,NaN
3697,3697,9.0,British Airways customer review,Nick Berry,28th August 2012,False,LHR to HAM. Purser addresses all club passenge...,NaN,Business Class,NaN,NaN,4.0,5.0,NaN,3.0,yes,NaN,4.0,NaN,NaN
3698,3698,5.0,British Airways customer review,Avril Barclay,12th October 2011,False,My son who had worked for British Airways urge...,NaN,Economy Class,NaN,NaN,NaN,NaN,NaN,4.0,yes,NaN,NaN,NaN,NaN
3699,3699,4.0,British Airways customer review,C Volz,11th October 2011,False,London City-New York JFK via Shannon on A318 b...,NaN,Premium Economy,NaN,NaN,1.0,3.0,NaN,1.0,no,NaN,5.0,NaN,NaN
3700,3700,4.0,British Airways customer review,Russ King,9th October 2011,False,SIN-LHR BA12 B747-436 First Class. Old aircraf...,NaN,First Class,NaN,NaN,4.0,5.0,NaN,2.0,no,NaN,5.0,2.0,NaN

In [7]:
df.describe() #statistics

,Unnamed: 0,OverallRating,SeatComfort,CabinStaffService,GroundService,ValueForMoney,Food&Beverages,InflightEntertainment,Wifi&Connectivity
count,3701.000000,3696.000000,3585.000000,3574.000000,2855.000000,3700.000000,3315.000000,2551.000000,609.000000
mean,1850.000000,4.734307,2.875314,3.254057,2.784238,2.688378,2.713122,2.646021,1.924466
std,1068.531001,3.175306,1.362081,1.489709,1.457058,1.471887,1.437092,1.398509,1.352705
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,925.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,1850.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,1.000000
75%,2775.000000,8.000000,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000,3.000000
max,3700.000000,10.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

##Search for Missing Values in Numeric Columns

In [8]:
#Numeric column filter for correlation matrix
numeric_df = df.select_dtypes(include=['float64', 'int64'])

# Check numeric column missing values
missing_values = numeric_df.isnull().sum()
print("\nMissing Values in Numeric Columns:")
print(missing_values[missing_values > 0])

Missing Values in Numeric Columns:
OverallRating               5
SeatComfort               116
CabinStaffService         127
GroundService             846
ValueForMoney               1
Food&Beverages            386
InflightEntertainment    1150
Wifi&Connectivity        3092
dtype: int64

##Preprocessing data

###Removing large amount of missing values in columns (int, float, str)

In [9]:
df = df.drop(columns = "GroundService")
df = df.drop(columns = "InflightEntertainment")
df = df.drop(columns = "Wifi&Connectivity")
df = df.drop(columns = "TypeOfTraveller")
df = df.drop(columns = "SeatType")
df = df.drop(columns = "Route")
df = df.drop(columns = "DateFlown")
df = df.drop(columns = "Aircraft")
df = df.drop(columns = "Unnamed: 0")

###Recheck the updated values (float,int)

In [10]:
#Numeric column filter for correlation matrix
numeric_df = df.select_dtypes(include=['float64', 'int64'])

# Check numeric column missing values
missing_values = numeric_df.isnull().sum()
print("\nMissing Values in Numeric Columns:")
print(missing_values[missing_values > 0])

Missing Values in Numeric Columns:
OverallRating          5
SeatComfort          116
CabinStaffService    127
ValueForMoney          1
Food&Beverages       386
dtype: int64

###Finding Mean replacing the mean with NaN value

In [11]:
df['OverallRating'].mean()

4.734307359307359

In [12]:
df['OverallRating'].fillna(4.73, inplace=True)

In [13]:
df['SeatComfort'].mean()

2.8753138075313807

In [14]:
df['SeatComfort'].fillna(2.87, inplace=True)

In [15]:
df['CabinStaffService'].mean()

3.2540570789031897

In [16]:
df['CabinStaffService'].fillna(3.25, inplace=True)

In [17]:
df['ValueForMoney'].fillna(1, inplace=True)

In [18]:
df['Food&Beverages'].mean()

2.7131221719457015

In [19]:
df['Food&Beverages'].fillna(2.71, inplace=True)

###Recheck the data

Specific Column wise

In [20]:
missing_values = df[df['OverallRating'].isnull()] #Replace OverallRating with any column name to check for null values
missing_values

Empty DataFrame
Columns: [OverallRating, ReviewHeader, Name, Datetime, VerifiedReview, ReviewBody, SeatComfort, CabinStaffService, ValueForMoney, Recommended, Food&Beverages]
Index: []

In [21]:
# Check all column's null values together
df.isnull().sum()

OverallRating        0
ReviewHeader         0
Name                 0
Datetime             0
VerifiedReview       0
ReviewBody           0
SeatComfort          0
CabinStaffService    0
ValueForMoney        0
Recommended          0
Food&Beverages       0
dtype: int64

###Show Updated Dataset

In [22]:
df

,OverallRating,ReviewHeader,Name,Datetime,VerifiedReview,ReviewBody,SeatComfort,CabinStaffService,ValueForMoney,Recommended,Food&Beverages
0,1.0,"""Service level far worse then Ryanair""",L Keele,19th November 2023,True,4 Hours before takeoff we received a Mail stat...,1.00,1.00,1.0,no,2.71
1,3.0,"""do not upgrade members based on status""",Austin Jones,19th November 2023,True,I recently had a delay on British Airways from...,2.00,3.00,2.0,no,1.00
2,8.0,"""Flight was smooth and quick""",M A Collie,16th November 2023,False,"Boarded on time, but it took ages to get to th...",3.00,3.00,3.0,yes,4.00
3,1.0,"""Absolutely hopeless airline""",Nigel Dean,16th November 2023,True,"5 days before the flight, we were advised by B...",3.00,3.00,1.0,no,2.71
4,1.0,"""Customer Service is non existent""",Gaylynne Simpson,14th November 2023,False,"We traveled to Lisbon for our dream vacation, ...",1.00,1.00,1.0,no,1.00
...,...,...,...,...,...,...,...,...,...,...,...
3696,1.0,British Airways customer review,J Robertson,29th August 2012,False,This was a bmi Regional operated flight on a R...,3.00,1.00,3.0,no,2.00
3697,9.0,British Airways customer review,Nick Berry,28th August 2012,False,LHR to HAM. Purser addresses all club passenge...,4.00,5.00,3.0,yes,4.00
3698,5.0,British Airways customer review,Avril Barclay,12th October 2011,False,My son who had worked for British Airways urge...,2.87,3.25,4.0,yes,2.71
3699,4.0,British Airways customer review,C Volz,11th October 2011,False,London City-New York JFK via Shannon on A318 b...,1.00,3.00,1.0,no,5.00
3700,4.0,British Airways customer review,Russ King,9th October 2011,False,SIN-LHR BA12 B747-436 First Class. Old aircraf...,4.00,5.00,2.0,no,5.00

## Performing Sentiment Analysis with TextBlob

In [29]:
from textblob import TextBlob

def analyze_sentiment(text):
    analysis = TextBlob(text)
    # Assign sentiment labels
    if analysis.sentiment.polarity > 0:
        return 'positive'
    elif analysis.sentiment.polarity == 0:
        return 'neutral'
    else:
        return 'negative'

##Training data for Sentiment Analysis

In [30]:
X_train, X_test, y_train, y_test = train_test_split(
    df['ReviewBody'],
    df['Recommended'],
    test_size=0.2,
    random_state=42,
    stratify=df['Recommended']
)

### Apply sentiment analysis and create a new 'Sentiment' column in the DataFrame

In [31]:
df['Sentiment'] = df['ReviewBody'].apply(analyze_sentiment)

##Display updated dataset

In [32]:
print(df.head())

   OverallRating                              ReviewHeader              Name  \
0            1.0    "Service level far worse then Ryanair"           L Keele
1            3.0  "do not upgrade members based on status"      Austin Jones
2            8.0             "Flight was smooth and quick"        M A Collie
3            1.0             "Absolutely hopeless airline"        Nigel Dean
4            1.0        "Customer Service is non existent"  Gaylynne Simpson

             Datetime  VerifiedReview  \
0  19th November 2023            True
1  19th November 2023            True
2  16th November 2023           False
3  16th November 2023            True
4  14th November 2023           False

                                          ReviewBody  SeatComfort  \
0  4 Hours before takeoff we received a Mail stat...          1.0
1  I recently had a delay on British Airways from...          2.0
2  Boarded on time, but it took ages to get to th...          3.0
3  5 days before the flight, we were advised by B...          3.0
4  We traveled to Lisbon for our dream vacation, ...          1.0

   CabinStaffService  ValueForMoney Recommended  Food&Beverages Sentiment
0                1.0            1.0          no            2.71  negative
1                3.0            2.0          no            1.00  positive
2                3.0            3.0         yes            4.00  positive
3                3.0            1.0          no            2.71  positive
4                1.0            1.0          no            1.00  negative

##Import SVM, test split, pipeline, and Sklearn library

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
import pandas as pd
from sklearn.model_selection import train_test_split

def sentiment_analysis_model(X_train, y_train, X_test, vectorizer_params=None, model_params=None):
    # Use defaults if not specified
    vectorizer_params = vectorizer_params or {}
    model_params = model_params or {}

    # Create a pipeline
    model = Pipeline([
        ('vectorizer', TfidfVectorizer(**vectorizer_params)),
        ('classifier', SVC(**model_params))
    ])

    # Train the model
    model.fit(X_train, y_train)

    # Make predictions
    y_pred = model.predict(X_test)

    # Create a pandas Series with predictions
    predictions = pd.Series(y_pred, index=X_test.index)

    return predictions

predictions = sentiment_analysis_model(X_train, y_train, X_test, vectorizer_params={}, model_params={'C': 1.0, 'kernel': 'linear', 'gamma': 'auto'})
print(predictions)

3365     no
3423     no
2342    yes
773     yes
1313     no
       ...
3408    yes
2363    yes
969     yes
499     yes
1517     no
Length: 741, dtype: object

### Running the trained analysis

In [36]:
X_train, X_test, y_train, y_test = train_test_split(df['ReviewBody'], df['Recommended'], test_size=0.2, random_state=1)
y_pred_sentiment = sentiment_analysis_model(X_train, y_train, X_test)
results_df = pd.DataFrame({'ReviewBody': X_test, 'Recommended': y_test, 'Predicted Sentiment': y_pred_sentiment})

###Printing Results

In [37]:
results_df

,ReviewBody,Recommended,Predicted Sentiment
1457,Port of Spain to Gatwick via St. Lucia was a g...,yes,yes
224,Delayed just for a change. Poor communication....,no,no
1241,Flew Belfast to London with British Airways. S...,no,no
1201,Sydney to London via Singapore. It has been a ...,no,no
1807,Istanbul to London Heathrow. I am a frequent f...,no,no
...,...,...,...
2544,We were not able to check in online for our Br...,no,no
1351,Flew British Airways to Pisa due to flight tim...,no,no
1468,"London Heathrow to Abuja, Nigeria with British...",no,no
2894,Check in at Tegel was a disaster and ludicrous...,no,no
2998,Flight BA 677 Istanbul to London Heathrow Club...,yes,yes

##Import Naive Bayes Model

In [38]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

###Training the model

In [39]:
def naive_bayes_model(X_train, y_train, X_test, vectorizer_params=None, model_params=None):
    #Use defaults if not specified
    vectorizer_params = vectorizer_params or {}
    model_params = model_params or {}

    # Create a pipeline
    model = Pipeline([
        ('vectorizer', TfidfVectorizer(**vectorizer_params)),
        ('classifier', MultinomialNB(**model_params))
    ])

    # Train the model
    model.fit(X_train, y_train)

    # Make predictions
    y_pred = model.predict(X_test)

    # Create a pandas Series with predictions
    predictions = pd.Series(y_pred, index=X_test.index)

    return predictions

# Example usage:
# Assuming X_train, y_train, X_test, y_test are defined elsewhere
y_pred_nb = naive_bayes_model(X_train, y_train, X_test, vectorizer_params={}, model_params={})
accuracy_nb = accuracy_score(y_test, y_pred_nb)

###Executing the model

In [40]:
print(f'Naive Bayes Accuracy: {accuracy_nb}')

Naive Bayes Accuracy: 0.7624831309041835

##Import Logistic Regression Model

In [41]:
from sklearn.linear_model import LogisticRegression

###Training the Model

In [42]:
def logistic_regression_model(X_train, y_train, X_test):
    vectorizer = TfidfVectorizer()
    X_train_vectorized = vectorizer.fit_transform(X_train)
    X_test_vectorized = vectorizer.transform(X_test)

    model = LogisticRegression()
    model.fit(X_train_vectorized, y_train)
    y_pred = model.predict(X_test_vectorized)

    return pd.Series(y_pred, index=X_test.index)

y_pred_lr = logistic_regression_model(X_train, y_train, X_test)
accuracy_lr = accuracy_score(y_test, y_pred_lr)

###Executing the model

In [43]:
print(f'Logistic Regression Accuracy: {accuracy_lr}')

Logistic Regression Accuracy: 0.8866396761133604

##Import SVC library

In [44]:
from sklearn.svm import SVC
from sklearn.feature_extraction.text import TfidfVectorizer

###Training the model

In [45]:
def sentiment_analysis_model(X_train, y_train, X_test):
    vectorizer = TfidfVectorizer()
    X_train_vectorized = vectorizer.fit_transform(X_train)
    X_test_vectorized = vectorizer.transform(X_test)

    model = SVC(C=1.0, kernel='linear', gamma='auto')
    model.fit(X_train_vectorized, y_train)
    y_pred = model.predict(X_test_vectorized)

    return pd.Series(y_pred, index=X_test.index)

y_pred_svm = sentiment_analysis_model(X_train, y_train, X_test)
accuracy_svm = accuracy_score(y_test, y_pred_svm)

###Executing the model

In [46]:
print(f'State Vector Machine: {accuracy_svm}')

State Vector Machine: 0.8960863697705803

##Import sklearn.metrics for the following output:


*   Accuracy Score
*   Classification Report
*   Confusion Matrix

In [47]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

###SVM Accuracy, Classification, and Confusion Matrix

In [48]:
print(f'SVM Accuracy: {accuracy_svm}')
print('SVM Classification Report:\n', classification_report(y_test, y_pred_svm))
print('SVM Confusion Matrix:\n', confusion_matrix(y_test, y_pred_svm))

SVM Accuracy: 0.8960863697705803
SVM Classification Report:
               precision    recall  f1-score   support

          no       0.89      0.94      0.91       440
         yes       0.90      0.83      0.87       301

    accuracy                           0.90       741
   macro avg       0.90      0.89      0.89       741
weighted avg       0.90      0.90      0.90       741

SVM Confusion Matrix:
 [[413  27]
 [ 50 251]]

###Naive Bayes: Accuracy, Classification Report, and Confusion Matrix

In [49]:
print(f'Naive Bayes Accuracy: {accuracy_nb}')
print('Naive Bayes Classification Report:\n', classification_report(y_test, y_pred_nb))
print('Naive Bayes Confusion Matrix:\n', confusion_matrix(y_test, y_pred_nb))

Naive Bayes Accuracy: 0.7624831309041835
Naive Bayes Classification Report:
               precision    recall  f1-score   support

          no       0.72      1.00      0.83       440
         yes       0.98      0.42      0.59       301

    accuracy                           0.76       741
   macro avg       0.85      0.71      0.71       741
weighted avg       0.82      0.76      0.73       741

Naive Bayes Confusion Matrix:
 [[438   2]
 [174 127]]

###Naive Bayes: Accuracy, Classification Report, and Confusion Matrix

In [50]:
print(f'Logistic Regression Accuracy: {accuracy_lr}')
print('Logistic Regression Classification Report:\n', classification_report(y_test, y_pred_lr))
print('Logistic Regression Confusion Matrix:\n', confusion_matrix(y_test, y_pred_lr))

Logistic Regression Accuracy: 0.8866396761133604
Logistic Regression Classification Report:
               precision    recall  f1-score   support

          no       0.88      0.94      0.91       440
         yes       0.91      0.80      0.85       301

    accuracy                           0.89       741
   macro avg       0.89      0.87      0.88       741
weighted avg       0.89      0.89      0.89       741

Logistic Regression Confusion Matrix:
 [[415  25]
 [ 59 242]]